/*test ssh*/
*{
	margin: 0;
	padding: 0;
}

/*body{
	padding: 50px 200px;
}*/

.backgroundArea{
	background-color: white;
}

.coverPage{
	/*display: inline;*/
	background: white;
	margin: auto;
	width: 1050px;
	padding: 50px;
/*	border: 2px solid rgb(226, 226, 226);
*/	box-shadow: 0 0 5px rgb(226, 226, 226);
}

.header{
	/*margin: 40px 0px;*/
}

.menu{
	margin: 40px 0px;
	background-color: #5b5b5b;
}

.menuList{
	list-style-type: none;
    /*margin: 0;
    padding: 0;*/
    line-height: 0;
}

.menuItem{
	display: inline-block;
	/*line-height: 40px;*/
	/*float: left;*/
}

.menuText{
	display: inline-block;
	color: white;
	text-decoration: none;
	line-height: 40px;
	width: 100px;
	text-align: center;
	padding-right: 50px;
	font-size: 14px;
	font-family: Times;
}

a:hover{
	background-color: #464646;
	/*border: 0px 1px;
	border-color: white;#838383;
	border-style: solid;*/
	box-shadow: inset 0 0 2px rgb(226, 226, 226);
}

#navigatoin{
	float: left;
	width: 290px;
	height: 500px;
}

.navList{
	list-style-type: none;
	margin: 40px 0px;
	width: 290px;
	float: left;
}

.navItem{
	width: 290px;
	float: left;
}

.navText{
	color: #cacaca;
	display: inline-block;
	line-height: 40px;
	width: 240px;
	/*text-align: center;*/
	font-size: 13;
	font-family: Times;
	text-decoration: none;
	padding-left: 25px;
	border: 1px solid #c8c8c8;
	margin-top: -1px;
	float: left;
}

#image{
	float: left;
	width: 300px;
	height: 500px;
}