.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   clear: both;
   line-height: 0;
   height: 0;
}

.clearfix{
	display: inline-block;
}

body{
	background-color: white;
	font-family: Times;
	font-size: 14px;
	color: black;
}

.coverPage{
	background-color: white;
	margin: auto;
	width: 960px;
	padding: 50px;
	box-shadow: 0 0 5px rgb(226, 226, 226);
}

.header{
}

.menu{
	margin: 40px 0px;
	background-color: #5b5b5b;
}

.menu ul{
	list-style-type: none;
    line-height: 0;
}

.menu li{
	display: inline-block;
}

.menu a{
	display: inline-block;
	color: white;
	text-decoration: none;
	line-height: 40px;
	width: 100px;
	text-align: center;
	padding-right: 50px;
}

.menu a:hover{
	background-color: #464646;
	box-shadow: inset 0 0 2px rgb(226, 226, 226);
}

.navigatoin{
	float: left;
	width: 290px;
}

.navigation ul{
	list-style-type: none;
	display: inline-block;
	margin: 0px 0px;
	float: left;
}

.navigation a{
	color: black;
	display: inline-block;
	line-height: 40px;
	width: 215px;
	text-decoration: none;
	padding-left: 25px;
	border: 1px solid #c8c8c8;
	margin-top: -1px;
}

.navigation a:hover{
	padding-left: 35px;
	width: 205px;
	background-color: rgb(249, 249, 249);
}

.image_block{
}

.image{
	float: right;
	padding: 0 45px;
	width: 585px;
	height: 400px;
	line-height: 400px;
	text-align: center;
	border: 1px solid #c8c8c8;
}

.image img{
	vertical-align: middle;
}

.image_text{
	float: right;
	width: 615px;
	padding: 30px;
	line-height: 18px;
	margin-bottom: 60px;	
}

.menuBottom{
	background-color: #e1e1e1;
	line-height: 40px;
	display: block;
	height: 40px;
}

.menuBottom ul{
	display: inline-block;
	list-style-type: none;
    float: left;
    background-color: #e1e1e1;
	line-height: 40px;
}

.menuBottom li{
	display: inline-block;
}

.menuBottom a{
	/*display: inline-block;*/
	text-decoration: none;
	padding-left: 25px;
	padding-right: 95px;
	color: black;
	/*line-height: 40px;*/
	/*margin: 0 95px 0 25px;*/
	
}

.menuBottom a:hover{
	text-decoration: underline;
}

.corner{
	background-color: #e1e1e1;
	display: inline-block;
	float: right;
	padding-right: 25px;
	/*margin-right: 25px;*/
	/*line-height: 40px;*/
}