*{
	margin: 0;
	padding: 0;
}

body{
	padding: 50px 200px;
}

.header{
	/*margin: 40px 0px;*/
}

.menu{
	margin: 40px 0px;
	background-color: #5b5b5b;
}

.menuList{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuItem{
	display: inline;
	line-height: 40px;
	/*float: left;*/
}

.menuText{
	/*display: block;*/
	color: white;
	text-decoration: none;
}

a:hover{
	background-color: #464646;
}