.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   clear: both;
   line-height: 0;
   height: 0;
}

.clearfix{
	display: inline-block;
}

body{
background-color: white;
font-family: Tahoma;
font-size: 12px;
color: black;
}

.cover{
	text-align: center;
}

.background{
	background-image: url("../images/background.png");
	width: 100%;
	text-align: center;
}

/*.background img{
width: 1280px;
height: 1060px;
}*/

.background2{
	background-color: white;
	/*height: 100%;*/
	/*margin: 0px 100px;*/
	margin: 0 150px;
	box-shadow: 0 0 20px rgb(126, 126, 126);
	width: 1000px;
	/*position: absolute;
	z-index: 20;*/
}

.header{
	height: 212px;
}

.logo{
	height: 202px;
	margin: 10px 0 0 25px;
	float: left;
}

.rightheader{
	float: right;
	position: relative;
}

.contacts{
	float: right;
	font-size: 12px;
	font-family: Tahoma;
	color: rgb(136, 185, 201);
	margin: 0 30px 30px 0;
	/*position: absolute;
	right: 0px;*/

}

.contacts ul{
	list-style: none;
}

.contacts ul li:first-child{
	font-weight: bold;
	line-height: 18px;
}

.contacts li{
	line-height: 16px;
}

.flags{
	font-size: 10px;
	margin-top: 150px;
 }

.flags ul{
 	list-style: none;
 	display: inline-block;
 }

 .flags li{
 	display: inline-block;
 	margin: 0 15px 0 0;
 	text-align: center;
 }

 .flags div{
 	text-align: center;
 }

 .center img{
 	height: 235px;
 	width: 100%;
 }


.menu li a, .menu{
font-size: 14px;
font-family: Tahoma;
color: white;
background-color: rgb(50, 50, 50);
line-height: 25px;
}

.menu{
float: left;
width: 100%;
list-style: none;

/*text-align: center;*/
/*width: 100%;*/
}

.menu ul{
/*width: 100%;*/
}

.menu li{
 	/*display: inline-block;
 	/*float:left;*/
	/*margin-right:10px;
	position:relative;*/
	/*display:block;*/

	float:left;
	margin-right:10px;
	position:relative;
	display:block;
 }

 .menu li a{
 	display: block;
 	text-decoration: none;

 }

 .menu ul li ul{
 	list-style: none;
 	position: absolute;
 	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
 }

 .menu ul li ul li{
 	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
 }

 .menu ul li ul li a{
 	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
 }

 .menu ul li:hover ul{
 	/* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
 }

 .menu ul li:hover a{
 	/* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
 }

 .menu ul li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}