/* main.css*/

.background_page{
	background-color: lightgrey;
}

.cover_page{
	/*display: inline;*/
	background-color: white;
	margin: auto;
	width: 500px;
	padding: 30px 50px;
	border: 15px solid lightgrey;
}

.center_{
	text-align: center;
}

.line{
	border-bottom: 2px solid lightgrey;
}

.photo{
	border-radius: 75px;
}
