/* main.css*/

.background_page{
	background-color: lightgrey;
}

.cover_page{
	/*display: inline;*/
	background-color: white;
	margin: auto;
	width: 500px;
	padding: 30px 30px 30px 30px;
	border: 15px solid lightgrey;
}

.line{
	border-bottom: 2px solid lightgrey;
}

h1 {
	text-align: center;
}

img {
	border-radius: 75px;
}
