/* main.css*/
body{
	font-size: 14px;
}

.background_page{
	background-color: rgb(238, 238, 238);
}

.cover_page{
	/*display: inline;*/
	background: white;
	margin: auto;
	width: 515px;
	padding: 50px;
/*	border: 2px solid rgb(226, 226, 226);
*/	box-shadow: 0 0 5px rgb(226, 226, 226);
}

.summary{
border-bottom: 1px solid rgb(122, 122, 122);
}

.contacts{
border-bottom: 1px solid rgb(122, 122, 122);
}

.goal{
border-bottom: 1px solid rgb(122, 122, 122);
}

.center_{
	text-align: center;
}

.feedback{

}

span{
	display: block;
}

/*.line{
	border-bottom: 2px solid rgb(122, 122, 122);
}
*/
.photo{
	border-radius: 75px;
}
